.projects {
	grid-area: projects;
	padding: 5rem 8rem;
	background-color: var(--color-primary);

	@media only screen and (max-width: $bp-medium) {
		padding: 5rem 6rem;
	}

	@media only screen and (max-width: $bp-small) {
		padding: 5rem 4rem;
	}

	@media only screen and (max-width: $bp-tiny) {
		padding: 3rem 2rem;
	}

	h2 {
		background-image: linear-gradient(78deg, var(--color-secondary) 0%, var(--color-secondary) 100%);
		padding: 1rem 2rem;
		border-radius: 3px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(50rem, 1fr));
		grid-gap: 2rem;
		margin: 0 auto;

		@media only screen and (max-width: $bp-small) {
			grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
			grid-gap: 1rem;
		}

		@media only screen and (max-width: $bp-tiny) {
			grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		}
	}

	&__item {
		@include flexCenter();
		flex-direction: column;
		justify-content: space-between;
		color: var(--color-primary);
		background-color: var(--color-white);
		border-radius: 0.5rem;
		transform: scale(0.9);
		box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
		transition: all 0.3s;
	}

	&__item:hover {
		transform: scale(0.95);
		// outline: 0.3rem solid var(--color-secondary);
		// outline-offset: 1rem;
	}

	&__img {
		height: 27rem;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;

		&--court-reservation {
			background-image: url(../img/court-reservation.png);
		}

		&--food-order {
			background-image: url(../img/food-order.png);
		}

		&--expense-tracker {
			background-image: url(../img/expense-tracker.png);
		}

		&--natours {
			background-image: url(../img/natours.png);
		}

		&--trillo {
			background-image: url(../img/trillo.png);
		}

		&--nexter {
			background-image: url(../img/nexter.png);
		}
	}

	&__content {
		@include flexCenter();
		flex-direction: column;
		padding: 2rem;
		gap: 2rem;
	}

	&__description {
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.5;
		padding-inline: 2rem;
		color: var(--color-primary);

		li {
			@include flexCenter();
			justify-content: flex-start;
			gap: 1rem;

			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}

			svg {
				height: 1.5rem;
				width: 1.5rem;
				fill: currentColor;
			}

			p {
				text-transform: capitalize;
			}
		}
	}
}
